<ng-container *ngIf="pastLaunches$ | async as pastLaunches">
  <main>
    <section class="container">
      <mat-card
        *ngFor="let launch of pastLaunches"
        [routerLink]="['/', launch!.id]"
      >
        <div>
          <mat-card-header>
            <img
              height="50"
              width="50"
              mat-card-avatar
              loading="lazy"
              [src]="
                launch!.links!.mission_patch_small !== null
                  ? launch!.links!.mission_patch_small
                  : 'https://via.placeholder.com/50/000000/FFFFFF?text=Unavailable'
              "
              alt="Mission patch of {{ launch!.mission_name }}"
            />
            <mat-card-title>
              {{ launch!.mission_name }}
            </mat-card-title>
            <mat-card-subtitle>
              Rocket: {{ launch.rocket.rocket_name }} <br />
              Launched: {{ launch.launch_date_utc | relativeTime }}
            </mat-card-subtitle>
          </mat-card-header>
          <img
            height="300"
            width="300"
            mat-card-images
            loading="lazy"
            [src]="
              launch!.links!.flickr_images?.length
                ? launch!.links!.flickr_images![0]
                : 'https://via.placeholder.com/300/000000/FFFFFF?text=Flickr+Image+Unavailable'
            "
            alt="Photo of
        {{ launch!.mission_name }}"
          />
        </div>
      </mat-card>
    </section>
  </main>
</ng-container>
